<form class="layui-form model-form" id="formPsw">
    <div class="layui-form-item">
        <label class="layui-form-label">原始密码:</label>
        <div class="layui-input-block">
            <input type="password" name="old_psw" placeholder="请输入原始密码" class="layui-input"
                   lay-verType="tips" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码:</label>
        <div class="layui-input-block">
            <input type="password" name="new_psw" placeholder="请输入新密码" class="layui-input"
                   lay-verType="tips" lay-verify="required|psw" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码:</label>
        <div class="layui-input-block">
            <input type="password" name="re_psw" placeholder="请再次输入新密码" class="layui-input"
                   lay-verType="tips" lay-verify="required|re_psw" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button class="layui-btn" lay-filter="submitPsw" lay-submit>保存</button>
        </div>
    </div>
</form>
<script>
    layui.use(['form', 'admin'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var config = layui.config;

        // 监听修改密码表单提交
        form.on('submit(submitPsw)', function (d) {
            jqueryAjaxPUT($, "sys/user/psw", d.field, function (data) {
                config.removeToken();  // 清除token
                success(data.msg, {icon: 1, time: 1500}, function () {
                    location.replace('login.html');
                });
            });
            return false;
        });

        // 添加表单验证方法
        form.verify({
            psw: [/^[\S]{5,12}$/, '密码必须5到12位，且不能出现空格'],
            re_psw: function (t) {
                if (t !== $('#formPsw input[name=new_psw]').val()) {
                    return '两次密码输入不一致';
                }
            }
        });
    });
</script>