<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">搜索：</label>
                        <div class="layui-input-inline mr0">
                            <input id="menuEdtSearch" class="layui-input" type="text" placeholder="输入关键字"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="menuBtnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索
                        </button>
                        <button id="menuBtnAdd" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="menuTable" lay-filter="menuTable"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="menuTableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="menuForm">
    <form lay-filter="menuForm" class="layui-form model-form">
        <input name="menu_id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">上级菜单</label>
            <div class="layui-input-block">
                <select name="parent_id" lay-search></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单名称</label>
            <div class="layui-input-block">
                <input name="menu_name" placeholder="请输入菜单名称" type="text" class="layui-input"
                       maxlength="20" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单URL</label>
            <div class="layui-input-block">
                <input name="menu_url" placeholder="请输入菜单URL" type="text" class="layui-input"
                       maxlength="200"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单图标</label>
            <div class="layui-input-block">
                <input name="menu_icon" placeholder="请输入菜单图标" type="text" class="layui-input"
                       maxlength="80"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">对应权限</label>
            <div class="layui-input-block">
                <input name="authority" placeholder="请输入对应权限" type="text" class="layui-input"
                       maxlength="100"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序号</label>
            <div class="layui-input-block">
                <input name="sort_number" placeholder="请输入排序号" type="number" class="layui-input"
                       max="100" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button class="layui-btn" lay-filter="menuFormSubmit" lay-submit>保存</button>
        </div>
    </form>
</script>

<!-- js部分 -->
<script>
    layui.use(['form', 'table', 'config'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var mMenus = [];  // 全部菜单

        //渲染表格
        var cols = [[
            {type: 'numbers'},
            {field: 'parent_name', title: '上级菜单'},
            {field: 'menu_name', title: '菜单名称'},
            {field: 'menu_url', title: '菜单URL'},
            {field: 'menu_icon', title: '菜单图标'},
            {field: 'authority', title: '对应权限'},
            {field: 'create_time', title: '创建时间'},
            {field: 'sort_number', title: '排序'},
            {align: 'center', toolbar: '#menuTableBar', title: '操作', minWidth: 120}
        ]];
        var menuIns = table_render(table, '#menuTable', 'sys/menu/list', cols, {page: false}, function (data) {
            mMenus = data.data;
        });

        // 添加按钮点击事件
        $('#menuBtnAdd').click(function () {
            showEditModel();
        });

        // 搜索按钮点击事件
        $('#menuBtnSearch').click(function () {
            var keyword = $('#menuEdtSearch').val();
            table.reload('menuTable', {where: {keyword: keyword}});
        });

        // 工具条点击事件
        table.on('tool(menuTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') { //修改
                showEditModel(data);
            } else if (obj.event === 'del') { // 删除
                doDelete(obj);
            }
        });

        // 删除
        function doDelete(obj) {
            confirmDel($, "sys/menu/del", {menu_id: obj.data.menu_id}, function (data) {
                obj.del();
            });
        }

        // 显示编辑弹窗
        function showEditModel(menu) {
            openWindow($, '360px', (menu ? '修改' : '添加') + '菜单', "#menuForm", function () {
                $('select[name="parent_id"]').html('<option value="">请选择</option>');
                for (var i = 0; i < mMenus.length; i++) {
                    $('select[name="parent_id"]').append('<option value="' + mMenus[i].menu_id + '">' + mMenus[i].menu_name + '</option>');
                }

                form.val('menuForm', menu);

                // 表单提交事件
                form.on('submit(menuFormSubmit)', function (data) {
                    jqueryAjax($, "sys/menu/addOrUpMenu", data.field, function (data) {
                        menuIns.reload();
                        layer.closeAll('page');
                    }, menu ? 'PUT' : 'POST');
                    return false;
                });
            });
        }

        // 获取全部菜单
        /*jqueryAjaxGET($, 'sys/menu/list', {}, function (data) {
            mMenus = data.data;
        }, true, true);*/

    });
</script>