
{% include 'haoAdmin/head.html' %}

<body>
	<div class="admin-main">

		<blockquote class="layui-elem-quote">
			<a href="javascript:;" class="layui-btn layui-btn-small" id="add">
				<i class="layui-icon">&#xe608;</i> 添加菜单
			</a>
		</blockquote>

		<fieldset class="layui-elem-field">
			<legend>数据列表</legend>
			<div class="layui-field-box">
				<table class="site-table table-hover">
					<thead>
						<tr>
							<th>菜单名称</th>
							<th>菜单顺序</th>
							<th>菜单归属</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody id="tbodys">

					</tbody>

					<script type="text/html" id="menu_tpl">
						{% raw %}
							{{# layui.each(d.one_level_menu, function(index, item){ }}
								<tr>
									<td>{{ item.title }}</td>
									<td>{{ item.sort }}</td>
									<td>{{ item.org_name }}</td>
									<td>
										<a href="javascript:;" class="layui-btn layui-btn-normal layui-btn-mini">子菜单</a>
										<a href="javascript:;" class="layui-btn layui-btn-mini">编辑</a>
										<a href="javascript:;" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
									</td>
								</tr>
							{{# }) }}
						{% endraw %}
					</script>

				</table>
			</div>
		</fieldset>

		<div class="admin-table-page">
			<div id="page" class="page">
			</div>
		</div>
	</div>


	<script>
		$(function(){
			init_data();
		});

		function init_data(){
			ajaxReq("menu/get_parent_menu", function(data){
				var tpl = document.getElementById('menu_tpl').innerHTML; //读取模版
				var laytpl = layui.laytpl;
				laytpl(tpl).render(data, function(render){
				  document.getElementById('tbodys').innerHTML = render;
				});
			});
		}

	</script>
</body>
