

<link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/css/layout.css" media="all" />
<link rel="stylesheet" href="/static/css/login.css" />

<script src="/static/js/jquery_1.11.1.min.js"></script>
<script src="/static/plugins/layui/layui.js "></script>
<script src="/static/js/layout.js "></script>
<script src="/static/js/jquery.form.js"></script>
<script src="/static/js/custom.js"></script>
