
{% include 'haoAdmin/head.html' %}

<body>
	<div class="admin-main">

		<blockquote class="layui-elem-quote">
			<a href="javascript:;" class="layui-btn layui-btn-small" id="add">
				<i class="layui-icon">&#xe608;</i> 字典分类录入
			</a>

			<div class="layui-input-inline" style="width: 400px; float: right;">
			  	<input type="text" id="keyword" class="layui-input" style="width: 80%; float: left;" placeholder="根据字典名称/字典code搜索">
				<button class="layui-btn" style="float: right;" onclick="_search()">搜索</button>
			</div>
		</blockquote>

		<fieldset class="layui-elem-field" style="width: 55%; float: left">
			<legend>字典分类列表</legend>
			<div class="layui-field-box">
				<table class="site-table table-hover">
					<thead>
						<tr>
							<th>字典名称</th>
							<th>字典code</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody id="tbodys">

					</tbody>

					<script type="text/html" id="body_tpl">
						{% raw %}
							{{# layui.each(d, function(index, item){ }}
								<tr>
									<td>{{ item.group_name }}</td>
									<td>{{ item.group_value }}</td>
									<td>
										<a href="javascript:;" class="layui-btn layui-btn-mini">编辑</a>
										<a href="javascript:;" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
										<a href="javascript:;" class="layui-btn layui-btn-normal layui-btn-mini">查看类型</a>
									</td>
								</tr>
							{{# }) }}
						{% endraw %}
					</script>

				</table>
			</div>
		</fieldset>

		<fieldset class="layui-elem-field" style="width: 40%; float: right">
			<legend>数据列表</legend>
			<div class="layui-field-box">
				<table class="site-table table-hover">
					<thead>
						<tr>
							<th>类型名称</th>
							<th>类型编码</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody id="tbodys2">

					</tbody>

					<script type="text/html" id="body_tpl2">
						{% raw %}
							{{# layui.each(d.one_level_menu, function(index, item){ }}
								<tr>
									<td>{{ item.title }}</td>
									<td>{{ item.sort }}</td>
									<td>{{ item.org_name }}</td>
									<td>
										<a href="javascript:;" class="layui-btn layui-btn-normal layui-btn-mini">子菜单</a>
										<a href="javascript:;" class="layui-btn layui-btn-mini">编辑</a>
										<a href="javascript:;" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
									</td>
								</tr>
							{{# }) }}
						{% endraw %}
					</script>

				</table>
			</div>
		</fieldset>

		<div class="admin-table-page">
			<div id="page" class="page"></div>
		</div>
	</div>


	<script>
		var _keyword = "";

		$(function(){
			init_data(1);
		});

		function init_data(page_no, keyword){
			ajaxReq("type/get_typegroup", function(data){
				var laytpl = layui.laytpl;
				var tpl = document.getElementById('body_tpl').innerHTML; //读取模版
				//方式一：异步渲染（推荐）
				laytpl(tpl).render(data.groups, function(render){
				  document.getElementById('tbodys').innerHTML = render;
				});

				buildPage(data.page_no, data.total_page);
			}, {page_no: page_no, keyword: keyword});
		}

		function buildPage(page_no, total_page){
			var laypage = layui.laypage;
			laypage({
				cont: 'page',
				pages: total_page, //总页数
				groups: 5, //连续显示分页数
				curr: page_no, //当前页数
				jump: function(obj, first) {
					var curr = obj.curr;
					if(!first) {
						init_data(obj.curr, _keyword);
					}
				}
			});
		}

		function _search(){
			var keyword = $("#keyword").val();
			_keyword = keyword;
			init_data(1, keyword);
		}

	</script>
</body>
